<!DOCTYPE html>
<html> 
<head>
	<!-- Global site tag (g (gtag.js) - ) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127143541-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments)}
	gtag('js', new Date());
	gtag('config', 'UA-127143541-1');
	</script>
	<!-- Global site tag (g (gtag.js) - ) - Google Analytics -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="description" content="『スーパーメディア変換!』Mac/Windows版の製品機能、使い方、無料ダウンロードのご説明。動画ファイル変換ソフトのダウンロードなら、VideoEasyへ。" />
	<meta name="keywords" content="動画変換、mp4変換、freemake video converter、ビデオコンバーター、動画ダウンロード、動画保存、コンバーター、ビデオ編集、ビデオエディタ、AVI変換、WMV変換、flv変換、vob変換、mov変換、avi変換、avchd変換、iso変 
                                       換、m2ts変換、mts変換、vro変換、DVD動画変換、DVD変換、DVDリッピング、DVDコピー、DVDコピーガード解除、DVDダビング、DVDバックアップ、暗号化解読"/>
        <title>Mac/Windowsで動画・画像・DVDを変換「スーパーメディア変換!」｜VideoEasy</title>
	<link rel="shortcut icon" href="__PUBLIC__/img/favicon.png" type="image/x-icon">


	<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
	<link href="__PUBLIC__/css/video.css" rel="stylesheet">
	<script src="__PUBLIC__/js/jquery.min.js"></script>
	<script src="__PUBLIC__/js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/js/docs.min.js"></script>
	<script src="__PUBLIC__/js/video.js"></script>
	<style>
		main{
			padding-top: 50px;
		}
		body{
			position: relative;
			margin:0;
			padding:0;
			height:100%
		}
		.list-group{
			position: fixed;
			top: 30%;
		}
	
	</style>

<!-- 切换语言界面 -->

<!--  -->

</head>

<body data-spy="scroll" data-target="#my_list_group" data-offset="400">
		<header>
			<!-- video nav -->
			{include file='common/header'}
			<!-- video nav -->
		</header>

		<main>
			<!-- first section -->
			
				<div class="container container-lg">
					<section class="bannery">
						<h1>Refund policy</h1>
					</section>
						<div class="bs-example self-textarea banner-policy" data-example-id="body-copy">
								
								<p>There are certain situations where only partial refunds are granted (if applicable)
										Book with obvious signs of use</p>
										<p>CD, DVD, VHS tape, software, video game, cassette tape, or vinyl record that has been opened
										Any item not in its original condition, is damaged or missing parts for reasons not due to our error</p>
										<p>Any item that is returned more than 30 days after delivery</p>
										
										<p>Refunds (if applicable) </p>
										<p>Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund. </p>
										<p>If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within a certain amount of days. </p>
										
										<p>Late or missing refunds (if applicable) </p>
										<p>If you haven’t received a refund yet, first check your bank account again. </p>
										<p>Then contact your credit card company, it may take some time before your refund is officially posted. </p>
										<p>Next contact your bank. There is often some processing time before a refund is posted. </p>
										<p>If you’ve done all of this and you still have not received your refund yet, please contact us at videoeasysoft@gmail.com. </p>
										
										<p>Sale items (if applicable) </p>
										<p>Only regular priced items may be refunded, unfortunately sale items cannot be refunded. </p>
										
								
							
							</div>
				</div>
			<!-- footer -->
			
		</main>
		{include file='common/footer'}
</body>
</html>
