<!DOCTYPE html>
<html> 
<head>
	<!-- Global site tag (g (gtag.js) - ) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127143541-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments)}
	gtag('js', new Date());
	gtag('config', 'UA-127143541-1');
	</script>
	<!-- Global site tag (g (gtag.js) - ) - Google Analytics -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="description" content="『スーパーメディア変換!』Mac/Windows版の製品機能、使い方、無料ダウンロードのご説明。動画ファイル変換ソフトのダウンロードなら、VideoEasyへ。" />
	<meta name="keywords" content="動画変換、mp4変換、freemake video converter、ビデオコンバーター、動画ダウンロード、動画保存、コンバーター、ビデオ編集、ビデオエディタ、AVI変換、WMV変換、flv変換、vob変換、mov変換、avi変換、avchd変換、iso変 
                                       換、m2ts変換、mts変換、vro変換、DVD動画変換、DVD変換、DVDリッピング、DVDコピー、DVDコピーガード解除、DVDダビング、DVDバックアップ、暗号化解読"/>
        <title>Mac/Windowsで動画・画像・DVDを変換「スーパーメディア変換!」｜VideoEasy</title>
	<link rel="shortcut icon" href="__PUBLIC__/img/favicon.png" type="image/x-icon">


	<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
	<link href="__PUBLIC__/css/video.css" rel="stylesheet">
	<script src="__PUBLIC__/js/jquery.min.js"></script>
	<script src="__PUBLIC__/js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/js/docs.min.js"></script>
	<script src="__PUBLIC__/js/video.js"></script>
	<script src="__PUBLIC__/js/pay_success.js"></script>
	
	<style>
		.diceng{
			
			height: 800px;
			
			margin-top: 100px;
		}
	</style>
<!-- 切换语言界面 -->

<!--  -->

</head>

<body data-spy="scroll" data-target="#my_list_group" data-offset="400">
		<header>
			{include file='common/header'}
			<!-- video nav -->
		</header>

		<main>
			<div class="diceng">
				<div class="container">
					<div class="success_title">{$Think.lang.54}<span id="countDown_span"></span>{$Think.lang.55}</div>
					<div class="success_title_2"><span id="countDown_span">{$Think.lang.65}</span></div>
					<div class="success_bg ">
							<img class="success_img " src="__PUBLIC__/img/pay-success.jpg" alt="">
					</div>
				</div>
			</div>
			{include file='common/footer'}
		</main>
</body>
</html>
