<!DOCTYPE html>
<html> 
<head>
	<!-- Global site tag (g (gtag.js) - ) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127143541-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments)}
	gtag('js', new Date());
	gtag('config', 'UA-127143541-1');
	</script>
	<!-- Global site tag (g (gtag.js) - ) - Google Analytics -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="description" content="『スーパーメディア変換!』Mac/Windows版の製品機能、使い方、無料ダウンロードのご説明。動画ファイル変換ソフトのダウンロードなら、VideoEasyへ。" />
	<meta name="keywords" content="動画変換、mp4変換、freemake video converter、ビデオコンバーター、動画ダウンロード、動画保存、コンバーター、ビデオ編集、ビデオエディタ、AVI変換、WMV変換、flv変換、vob変換、mov変換、avi変換、avchd変換、iso変 
                                       換、m2ts変換、mts変換、vro変換、DVD動画変換、DVD変換、DVDリッピング、DVDコピー、DVDコピーガード解除、DVDダビング、DVDバックアップ、暗号化解読"/>
        <title>Mac/Windowsで動画・画像・DVDを変換「スーパーメディア変換!」｜VideoEasy</title>
	<link rel="shortcut icon" href="__PUBLIC__/img/favicon.png" type="image/x-icon">


	<link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
	<link href="__PUBLIC__/css/video.css" rel="stylesheet">
	
	<script src="__PUBLIC__/js/jquery.min.js"></script>
	<script src="__PUBLIC__/js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/js/docs.min.js"></script>
	<script src="__PUBLIC__/js/video.js"></script>
	<style>
		main{
			padding-top: 50px;
		}
		body{
			position: relative;
		}
		.list-group{
			position: fixed;
			top: 30%;
		}
	</style>


<!-- 切换语言界面 -->

<!--  -->

</head>

<body data-spy="scroll" data-target="#my_list_group" data-offset="400">
		
		<header>
			<!-- video nav -->
			{include file='common/header'}
			<!-- video nav -->
		</header>

		
		<main>
				
				<section class="banner banner-pay banner-top-pay text-center text-white">
						<div class="container ">
							<div style="height:100%">
								<img style="float:left" class="pay-banner-logo"   src="__PUBLIC__/img/pay_banner_logo.png" alt="">
								<div  style="margin-top:5.5em;">
										<p class="text-left text-third text-pay-size">{$Think.lang.52}</p>
										<h1 class="text-left text-third text-pay-size-2">{$Think.lang.53}</h1>
								</div>
							</div>
						</div>
				</section>
			
				
					
						<div class="pay-banner-bg-gray">
							<section class="banner banner-self banner-pay-pc   text-center text-white">
								<div class="container ">
				
										<div class="bs-example bs-example-self" data-example-id="thumbnails-with-custom-content">
												<div class="row" style="margin-top: 150px;">
													<div class="col-md-3">
														<div id="by" class="thumbnail">
															
															<div class="caption">
																<h4>{$Think.lang.22}</h4>
																<li role="separator" class="divider"></li>
																<h4 style="margin-top: 55px;margin-bottom: 0px;"><span class="res-red-desc">7</span> {$Think.lang.23}</h4>
																<h4 style="margin-top: 0px;"><span class="res-red-desc">1</span> {$Think.lang.24}</h4>
																<li style="margin-top: 65px;" role="separator" class="divider"></li>
																<h4 style="margin-top: 20px;"><del>{$Think.lang.980}<span> {$Think.lang.25}</span></del></h4>
																<h1 style="margin-top: 7px;"><span id="pro_1" class="res-red">{$Think.lang.500}</span><span hidden id="pro_1_money">{$Think.lang.currency_code}</span><span class="res-red" style="font-size:15px"> {$Think.lang.25}</span></h1>
																
																<!-- <p><a style="margin-top: 41px;margin-bottom: 35px;" href="#" class="btn btn-lg btn-success btn-pay-self" role="button">{$Think.lang.33}  <span class="glyphicon glyphicon-shopping-cart"></span></a> 
																</p> -->
																<!-- paypal -->
																<!-- paypal -->
																<form id="pay_form_1" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_blank" id="sform">
																	<input type="hidden" name="cmd" value="_xclick">
																	<input type="hidden" name="business" value="videoeasysoft-facilitator@163.com"> 
																	<input type="hidden" name="item_name" value="7D-1T-SELF">
																	<input id='item_number' type="hidden" name="item_number" value="1"> 
																	<input class="pro_1_amount" id='amount' type="hidden" name="amount" value="">
																	<input class="pro_1_currency_code" type="hidden" name="currency_code" value="">
																	<input type='hidden' name='return' value='http://tp5.com/public/index.php/index/zhifu/index'> 
																	<input type='hidden' name='notify_url' value='http://2220vn0279.imwork.net/public/index.php/index/test/index'>  
																	<input type='hidden' name='cancel_return' value=''> 
																	<input id='invoice_1' type='hidden' name='invoice' value=''> <!-- 发票编码 注意：不能提交两次一样的发票编码 -->
																	<input type='hidden' name='charset' value='utf-8'><!-- 字符集 -->
																	<input type="hidden" name="no_shipping" value="1"> <!-- 不要求客户提供收货地址 -->
																	<input type="hidden" name="no_note" value="remark Recharge"> <!-- 付款说明 -->
																	<input type="hidden" name="bn" value="IC_Sample">
																	<input type='hidden' name='rm' value='2'>
																	<input id="pay_1" type="image" src="__PUBLIC__/img/pay_button.png" value="paypal.png" name="submit" alt="payments with payPal!">
																	<img src="__PUBLIC__/img/pay_cc.png" alt="">
																</form>
																<!-- paypal -->
																<!-- paypal -->
															</div>
														</div>
													</div>
				
													<div class="col-md-3">
															<div id="by1" class="thumbnail">
																
																<div class="caption">
																	<h4>{$Think.lang.26}</h4>
																	<li role="separator" class="divider"></li>
																	<h4 style="margin-top: 55px;margin-bottom: 0px;"><span class="res-red-desc">1</span> {$Think.lang.27}</h4>
																	<h4 style="margin-top: 0px;"><span class="res-red-desc">1</span> {$Think.lang.24}</h4>
																	<li style="margin-top: 65px;" role="separator" class="divider"></li>
																	<h4 style="margin-top: 20px;"><del>{$Think.lang.6980}<span> {$Think.lang.25}</span></del></h4>
																	<h1 style="margin-top: 7px;"><span id="pro_2"  class="res-red">{$Think.lang.4000}</span><span hidden id="pro_2_money">{$Think.lang.currency_code}</span><span class="res-red" style="font-size:15px"> {$Think.lang.25}</span></h1>
																	
																	<!-- paypal -->
																	<!-- paypal -->
																<form id="pay_form_2" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_blank" id="sform">
																	<input type="hidden" name="cmd" value="_xclick">
																	<input type="hidden" name="business" value="videoeasysoft-facilitator@163.com"> 
																	<input type="hidden" name="item_name" value="1Y-1T-SELF">
																	<input id='item_number' type="hidden" name="item_number" value="2"> 
																	<input class="pro_2_amount" id='amount' type="hidden" name="amount" value="">
																	<input class="pro_2_currency_code" type="hidden" name="currency_code" value="">
																	<input type='hidden' name='return' value='http://tp5.com/public/index.php/index/zhifu/index'> 
																	<input type='hidden' name='notify_url' value='http://2220vn0279.imwork.net/public/index.php/index/test/index'>  
																	<input type='hidden' name='cancel_return' value=''> 
																	<input id='invoice_2' type='hidden' name='invoice' value=''> <!-- 发票编码 注意：不能提交两次一样的发票编码 -->
																	<input type='hidden' name='charset' value='utf-8'><!-- 字符集 -->
																	<input type="hidden" name="no_shipping" value="1"> <!-- 不要求客户提供收货地址 -->
																	<input type="hidden" name="no_note" value="remark Recharge"> <!-- 付款说明 -->
																	<input type="hidden" name="bn" value="IC_Sample">
																	<input type='hidden' name='rm' value='2'>
																	<input id="pay_2" type="image" src="__PUBLIC__/img/pay_button.png" value="paypal.png" name="submit" alt="payments with payPal!">
																	<img src="__PUBLIC__/img/pay_cc.png" alt="">
																</form>
																<!-- paypal -->
																	<!-- paypal -->
																</div>
															</div>
														</div>
				
														<div class="col-md-3">
																<div id="by2" class="thumbnail">
																	
																	<div class="caption">
																		<h4>{$Think.lang.28}</h4>
																		<li role="separator" class="divider"></li>
																		<h4 style="margin-top: 55px;margin-bottom: 0px;"><span class="res-red-desc">{$Think.lang.29}</span> {$Think.lang.30}</h4>
																		<h4 style="margin-top: 0px;"><span class="res-red-desc">1</span> {$Think.lang.24}</h4>
																		<li style="margin-top: 65px;" role="separator" class="divider"></li>
																		<h4 style="margin-top: 20px;"><del>{$Think.lang.8500}<span> {$Think.lang.25}</span></del></h4>
																		<h1 style="margin-top: 7px;"><span id="pro_3"  class="res-red">{$Think.lang.5000}</span><span hidden id="pro_3_money">{$Think.lang.currency_code}</span><span class="res-red" style="font-size:15px"> {$Think.lang.25}</span></h1>
																		
																		<!-- paypal -->
																		<!-- paypal -->
																	<form id="pay_form_3" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_blank" id="sform">
																		<input type="hidden" name="cmd" value="_xclick">
																		<input type="hidden" name="business" value="videoeasysoft-facilitator@163.com"> 
																		<input type="hidden" name="item_name" value="UNLIMIT-1T-SELF">
																		<input id='item_number' type="hidden" name="item_number" value="3"> 
																		<input class="pro_3_amount" id='amount' type="hidden" name="amount" value="">
																		<input class="pro_3_currency_code" type="hidden" name="currency_code" value="">
																		<input type='hidden' name='return' value='http://tp5.com/public/index.php/index/zhifu/index'> 
																		<input type='hidden' name='notify_url' value='http://2220vn0279.imwork.net/public/index.php/index/test/index'>  
																		<input type='hidden' name='cancel_return' value=''> 
																		<input id='invoice_3' type='hidden' name='invoice' value=''> <!-- 发票编码 注意：不能提交两次一样的发票编码 -->
																		<input type='hidden' name='charset' value='utf-8'><!-- 字符集 -->
																		<input type="hidden" name="no_shipping" value="1"> <!-- 不要求客户提供收货地址 -->
																		<input type="hidden" name="no_note" value="remark Recharge"> <!-- 付款说明 -->
																		<input type="hidden" name="bn" value="IC_Sample">
																		<input type='hidden' name='rm' value='2'>
																		<input id="pay_3" type="image" src="__PUBLIC__/img/pay_button.png" value="paypal.png" name="submit" alt="payments with payPal!">
																		<img src="__PUBLIC__/img/pay_cc.png" alt="">
																	</form>
																	<!-- paypal -->
																		<!-- paypal -->
																	</div>
																</div>
															</div>
				
															<div class="col-md-3">
																	<div id="by3" class="thumbnail">
																		
																		<div class="caption">
																			<h4>{$Think.lang.31}</h4>
																			<li role="separator" class="divider"></li>
																			<h4 style="margin-top: 55px;margin-bottom: 0px;"><span class="res-red-desc">{$Think.lang.29}</span> {$Think.lang.30}</h4>
																			<h4 style="margin-top: 0px;"><span class="res-red-desc">7</span> {$Think.lang.32}</h4>
																			<li style="margin-top: 65px;" role="separator" class="divider"></li>
																			<h4 style="margin-top: 20px;"><del>{$Think.lang.42500}<span> {$Think.lang.25}</span></del></h4>
																			<h1 style="margin-top: 7px;"><span id="pro_4"  class="res-red">{$Think.lang.29750}</span><span hidden id="pro_4_money">{$Think.lang.currency_code}</span><span class="res-red" style="font-size:15px"> {$Think.lang.25}</span></h1>
																			
																			<!-- paypal -->
																			<!-- paypal -->
																			<form id="pay_form_4" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_blank" id="sform">
																				<input type="hidden" name="cmd" value="_xclick">
																				<input type="hidden" name="business" value="videoeasysoft-facilitator@163.com"> 
																				<input type="hidden" name="item_name" value="UNLIMIT-7T-SELF">
																				<input id='item_number' type="hidden" name="item_number" value="4"> 
																				<input class="pro_4_amount" id='amount' type="hidden" name="amount" value="">
																				<input class="pro_4_currency_code" type="hidden" name="currency_code" value="">
																				<input type='hidden' name='return' value='http://tp5.com/public/index.php/index/zhifu/index'> 
																				<input type='hidden' name='notify_url' value='http://2220vn0279.imwork.net/public/index.php/index/test/index'>  
																				<input type='hidden' name='cancel_return' value=''> 
																				<input id='invoice_4' type='hidden' name='invoice' value=''> <!-- 发票编码 注意：不能提交两次一样的发票编码 -->
																				<input type='hidden' name='charset' value='utf-8'><!-- 字符集 -->
																				<input type="hidden" name="no_shipping" value="1"> <!-- 不要求客户提供收货地址 -->
																				<input type="hidden" name="no_note" value="remark Recharge"> <!-- 付款说明 -->
																				<input type="hidden" name="bn" value="IC_Sample">
																				<input type='hidden' name='rm' value='2'>
																				<input id="pay_4" type="image" src="__PUBLIC__/img/pay_button.png" value="paypal.png" name="submit" alt="payments with payPal!">
																				<img src="__PUBLIC__/img/pay_cc.png" alt="">
																			</form>
																			<!-- paypal -->
																			<!-- paypal -->
																		</div>
																	</div>
																</div>
				
												
													
												</div>
											</div>
				
							
								</div>
							</section>
						</div>

						<div class="pay-banner-bg-gray" >
							<section class="banner banner-self banner-pay-pc pay-bg  text-center text-white">
								<div class="container ">
										<h1 style="color:#000000"><span class="res-red-desc">VideoEasy </span>{$Think.lang.34}</h1>
										<div class="bs-example bs-example-self" data-example-id="thumbnails-with-custom-content">
												<div class="row" style="margin-top: 150px;">
													
													<div class="col-md-4">
														<div id="by" class="thumbnail">
															
															<div class="caption">
																	<img  alt="100%x200" src="/public/static/index/img/safe_icon.png">
																
																<h3 class="infomation-1" style="margin-top: 55px;margin-bottom: 0px;">{$Think.lang.35}</h3>
																<h5 style="margin-top: 0px;">{$Think.lang.36}</h5>
																
																<h4 style="margin-top: 30px;margin-bottom: 30px;"><span class="res-red"><span class="res-red-desc">10 {$Think.lang.27}+</span></h4>
																<h5 style="margin-top: 7px;">{$Think.lang.37}</h5>
																
																
															</div>
														</div>
													</div>

													<div class="col-md-4">
															<div id="by" class="thumbnail">
																
																<div class="caption">
																		<img  alt="100%x200" src="__PUBLIC__/img/designed_icon.png">
																	
																	<h3 class="infomation-1 style="margin-top: 55px;margin-bottom: 0px;">{$Think.lang.38}</h3>
																	<h5 style="margin-top: 0px;">{$Think.lang.39}</h5>
																	
																	<h4 style="margin-top: 30px;margin-bottom: 30px;"><span class="res-red"><span class="res-red-desc">100+</span></h4>
																	<h5 style="margin-top: 7px;">{$Think.lang.40}</h5>
																	
																	
																</div>
															</div>
														</div>

														<div class="col-md-4">
																<div id="by" class="thumbnail">
																	
																	<div class="caption">
																			<img  alt="100%x200" src="__PUBLIC__/img/private_icon.png">
																		
																		<h3 class="infomation-1 style="margin-top: 55px;margin-bottom: 0px;">{$Think.lang.41}</h3>
																		<h5 style="margin-top: 0px;">{$Think.lang.42}</h5>
																		
																		<h4 style="margin-top: 30px;margin-bottom: 30px;"><span class="res-red"><span class="res-red-desc">1 500 000+</span></h4>
																		<h5 style="margin-top: 7px;">{$Think.lang.43}</h5>
																		
																		
																	</div>
																</div>
															</div>
				
													
				
															
				
												
													
												</div>
											</div>
				
							
								</div>
							</section>
						</div>

					<!-- 说明部分 -->
							<!-- <section style="margin-bottom:0;margin-top:0" class=" pay-infomation-res pay-bg text-center text-res">
									<div class="container container-lg">
											<div class="text-res">
												<h1 class="heading-pay-res">VideoEasy <span style="color:black !important"> {$Think.lang.34}</span></h1>
											</div>
										<div class="action">
												<div class="row"  style="margin-top: -50px;">
													<div class="col-sm-6 col-sm-4 ">
													<div id="by1" class="thumbnail thumbnail-res">
														<img  alt="100%x200" src="/public/static/index/img/safe_icon.png">
														<div class="caption">
														<h3>{$Think.lang.35}</h3>
														<p>{$Think.lang.36}</p>
														
														<h1 class="res-h1"><b>10 {$Think.lang.27}+</b></h1>
														<h5>{$Think.lang.37}</h5>
														</div>
													</div>
													</div>
			
													<div class="col-sm-6 col-sm-4 ">
													<div id="by2" class="thumbnail thumbnail-res">
														<img  alt="100%x200" src="__PUBLIC__/img/designed_icon.png">
														<div class="caption">
														<h3>{$Think.lang.38}</h3>
														<p>{$Think.lang.39}</p>
														<h1 class="res-h1"><b>100+</b></h1>
														<h5>{$Think.lang.40}</h5>
														</div>
													</div>
													</div>
			
													<div class="col-sm-6 col-sm-4 ">
													<div id="by3" class="thumbnail thumbnail-res">
														<img  alt="100%x200" src="__PUBLIC__/img/private_icon.png">
														<div class="caption">
														<h3>{$Think.lang.41}</h3>
														<p>{$Think.lang.42}</p>
														<h1 class="res-h1"><b>1 500 000+</b></h1>
														<h5>{$Think.lang.43}</h5>
														</div>
													</div>
													</div>
													
												</div>
										</div>
									</div>
									
								</section> -->

									{include file='common/footer'}
								
			<!-- footer -->
		
		</main>
	
</body>
</html>
