
<section class="banner footer banner-footer-pc text-center text-white">
        <div class="container container-lg">
            <ul class="list-unstyled foot-self">
                <li class="foot-self-li text-foot-size-2">
                    <a class="foot-link" href="{:url('cont/index')}">About Us</a><span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
                    <a class="foot-link"  href="{:url('privacy/index')}">Privacy Policy</a><span>&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
                    <a class="foot-link"  href="{:url('service/index')}">Terms of service</a><span>&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
                    <a class="foot-link"  href="{:url('policy/index')}">Refund policy</a>
                </li>
                <li class=" text-foot-size-2">Copyright © 2018 VideoEasy. All rights reserved.</li>
                <li class=" text-foot-size-2">{$Think.lang.51}: IE 11/Firefox/Chrome/Opera/Safari/Maxthon/Netscape</li>
            </ul>
        </div>
    </section>
