<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>rootType</key>
		<string>Ipad</string>
		<key>image</key>
		<string>ipad</string>
		<key>videoCodecArray</key>
		<array>
			<dict>
				<key>subType</key>
				<string>iPad MEPG-4 Video(*.mp4)</string>
				<key>image</key>
				<string>ipad</string>
				<key>codec</key>
				<array>
					<dict>
						<key>name</key>
						<string>MP4</string>
						<key>value</key>
						<string>1</string>
					</dict>
				</array>
				<key>resolution</key>
				<array>
					<dict>
						<key>name</key>
						<string>480*320</string>
						<key>value</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>640*480</string>
						<key>value</key>
						<integer>4</integer>
					</dict>
				</array>
				<key>frameRate</key>
				<array>
					<integer>24</integer>
					<integer>30</integer>
				</array>
				<key>videoBitRate</key>
				<array>
					<integer>512</integer>
					<integer>800</integer>
					<integer>1200</integer>
					<integer>1500</integer>
					<integer>2000</integer>
					<integer>3500</integer>
					<integer>4000</integer>
				</array>
				<key>audioCodecArray</key>
				<array>
					<dict>
						<key>name</key>
						<string>AAC Audio(MC)</string>
						<key>value</key>
						<integer>0</integer>
						<key>audioBitRate</key>
						<array>
							<integer>64</integer>
							<integer>96</integer>
							<integer>128</integer>
							<integer>160</integer>
							<integer>192</integer>
							<integer>256</integer>
						</array>
						<key>sampleRate</key>
						<array>
							<real>22050</real>
							<integer>32000</integer>
							<integer>44100</integer>
							<integer>48000</integer>
						</array>
						<key>channel</key>
						<array>
							<integer>1</integer>
							<integer>2</integer>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>subType</key>
				<string>iPad H.264 Video(*.mp4)</string>
				<key>image</key>
				<string>ipad</string>
				<key>codec</key>
				<array>
					<dict>
						<key>name</key>
						<string>H.264</string>
						<key>value</key>
						<string>0</string>
					</dict>
				</array>
				<key>resolution</key>
				<array>
					<dict>
						<key>width</key>
						<integer>480</integer>
						<key>height</key>
						<integer>320</integer>
					</dict>
					<dict>
						<key>width</key>
						<integer>640</integer>
						<key>height</key>
						<integer>480</integer>
					</dict>
					<dict>
						<key>width</key>
						<integer>720</integer>
						<key>height</key>
						<integer>576</integer>
					</dict>
					<dict>
						<key>width</key>
						<integer>1280</integer>
						<key>height</key>
						<integer>720</integer>
					</dict>
				</array>
				<key>frameRate</key>
				<array>
					<integer>24</integer>
					<integer>30</integer>
				</array>
				<key>videoBitRate</key>
				<array>
					<integer>512</integer>
					<integer>800</integer>
					<integer>1200</integer>
					<integer>1500</integer>
					<integer>2000</integer>
					<integer>3500</integer>
					<integer>4000</integer>
				</array>
				<key>audioCodecArray</key>
				<array>
					<dict>
						<key>name</key>
						<string>AAC Audio(MC)</string>
						<key>value</key>
						<integer>0</integer>
						<key>audioBitRate</key>
						<array>
							<integer>64</integer>
							<integer>96</integer>
							<integer>128</integer>
							<integer>160</integer>
							<integer>192</integer>
							<integer>256</integer>
						</array>
						<key>sampleRate</key>
						<array>
							<integer>22050</integer>
							<integer>32000</integer>
							<integer>44100</integer>
							<integer>48000</integer>
						</array>
						<key>channel</key>
						<array>
							<integer>1</integer>
							<integer>2</integer>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>rootType</key>
		<string>Iphone</string>
		<key>image</key>
		<string>iphone</string>
		<key>videoCodecArray</key>
		<array>
			<dict>
				<key>subType</key>
				<string>iPhone5(s) MOV(960x640)Video</string>
				<key>image</key>
				<string>iphone</string>
				<key>codec</key>
				<array>
					<dict>
						<key>name</key>
						<string>H.264</string>
						<key>value</key>
						<string>0</string>
					</dict>
				</array>
				<key>resolution</key>
				<array>
					<dict>
						<key>width</key>
						<integer>480</integer>
						<key>height</key>
						<integer>320</integer>
					</dict>
					<dict>
						<key>width</key>
						<integer>640</integer>
						<key>height</key>
						<integer>480</integer>
					</dict>
					<dict>
						<key>width</key>
						<integer>720</integer>
						<key>height</key>
						<integer>576</integer>
					</dict>
					<dict>
						<key>width</key>
						<integer>1280</integer>
						<key>height</key>
						<integer>720</integer>
					</dict>
				</array>
				<key>frameRate</key>
				<array>
					<integer>24</integer>
					<integer>30</integer>
				</array>
				<key>videoBitRate</key>
				<array>
					<integer>512</integer>
					<integer>640</integer>
					<integer>800</integer>
					<integer>1200</integer>
					<integer>1500</integer>
					<real>1800</real>
					<integer>2000</integer>
					<real>2500</real>
				</array>
				<key>audioCodecArray</key>
				<array>
					<dict>
						<key>name</key>
						<string>AAC Audio(MC)</string>
						<key>value</key>
						<integer>0</integer>
						<key>audioBitRate</key>
						<array>
							<integer>64</integer>
							<integer>96</integer>
							<integer>128</integer>
							<integer>160</integer>
							<integer>192</integer>
							<integer>256</integer>
						</array>
						<key>sampleRate</key>
						<array>
							<integer>22050</integer>
							<integer>32000</integer>
							<integer>44100</integer>
							<integer>48000</integer>
						</array>
						<key>channel</key>
						<array>
							<integer>1</integer>
							<integer>2</integer>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>subType</key>
				<string>iPhone6(s)(*.mp4)</string>
				<key>image</key>
				<string>iphone</string>
				<key>codec</key>
				<array>
					<dict>
						<key>name</key>
						<string>H.264</string>
						<key>value</key>
						<string>0</string>
					</dict>
				</array>
				<key>resolution</key>
				<array>
					<dict>
						<key>width</key>
						<integer>480</integer>
						<key>height</key>
						<integer>320</integer>
					</dict>
					<dict>
						<key>width</key>
						<integer>640</integer>
						<key>height</key>
						<integer>480</integer>
					</dict>
					<dict>
						<key>width</key>
						<integer>720</integer>
						<key>height</key>
						<integer>576</integer>
					</dict>
					<dict>
						<key>width</key>
						<integer>1280</integer>
						<key>height</key>
						<integer>720</integer>
					</dict>
				</array>
				<key>frameRate</key>
				<array>
					<integer>24</integer>
					<integer>30</integer>
				</array>
				<key>videoBitRate</key>
				<array>
					<integer>512</integer>
					<integer>800</integer>
					<integer>1200</integer>
					<integer>1500</integer>
					<integer>2000</integer>
					<integer>3500</integer>
					<integer>4000</integer>
				</array>
				<key>audioCodecArray</key>
				<array>
					<dict>
						<key>name</key>
						<string>AAC Audio(MC)</string>
						<key>value</key>
						<integer>0</integer>
						<key>audioBitRate</key>
						<array>
							<integer>64</integer>
							<integer>96</integer>
							<integer>128</integer>
							<integer>160</integer>
							<integer>192</integer>
							<integer>256</integer>
						</array>
						<key>sampleRate</key>
						<array>
							<integer>22050</integer>
							<integer>32000</integer>
							<integer>44100</integer>
							<integer>48000</integer>
						</array>
						<key>channel</key>
						<array>
							<integer>1</integer>
							<integer>2</integer>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>subType</key>
				<string>iPhone6(s) plus(*.mp4)</string>
				<key>image</key>
				<string>iphone</string>
				<key>codec</key>
				<array>
					<dict>
						<key>name</key>
						<string>H.264</string>
						<key>value</key>
						<string>0</string>
					</dict>
				</array>
				<key>resolution</key>
				<array>
					<dict>
						<key>width</key>
						<integer>480</integer>
						<key>height</key>
						<integer>320</integer>
					</dict>
					<dict>
						<key>width</key>
						<integer>640</integer>
						<key>height</key>
						<integer>480</integer>
					</dict>
					<dict>
						<key>width</key>
						<integer>720</integer>
						<key>height</key>
						<integer>576</integer>
					</dict>
					<dict>
						<key>width</key>
						<integer>1280</integer>
						<key>height</key>
						<integer>720</integer>
					</dict>
				</array>
				<key>frameRate</key>
				<array>
					<integer>24</integer>
					<integer>30</integer>
				</array>
				<key>videoBitRate</key>
				<array>
					<integer>512</integer>
					<integer>800</integer>
					<integer>1200</integer>
					<integer>1500</integer>
					<integer>2000</integer>
					<integer>3500</integer>
					<integer>4000</integer>
				</array>
				<key>audioCodecArray</key>
				<array>
					<dict>
						<key>name</key>
						<string>AAC Audio(MC)</string>
						<key>value</key>
						<integer>0</integer>
						<key>audioBitRate</key>
						<array>
							<integer>64</integer>
							<integer>96</integer>
							<integer>128</integer>
							<integer>160</integer>
							<integer>192</integer>
							<integer>256</integer>
						</array>
						<key>sampleRate</key>
						<array>
							<integer>22050</integer>
							<integer>32000</integer>
							<integer>44100</integer>
							<integer>48000</integer>
						</array>
						<key>channel</key>
						<array>
							<integer>1</integer>
							<integer>2</integer>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
