<!DOCTYPE html>
<html> 
<head>
	<!-- Global site tag (g (gtag.js) - ) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127143541-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments)}
	gtag('js', new Date());
	gtag('config', 'UA-127143541-1');
	</script>
	<script src="__PUBLIC__/js/show.js"></script>
	<link href="__PUBLIC__/css/show.css" rel="stylesheet">		
</head>

<body>
	<div class="hDiv">
			<div class="headerDiv">
				<div class="headerDiv_containtDiv">
					<div class="logoDiv">
							<img class="img" src="__PUBLIC__/img/vlogo.png" class="zoomIn wow animated" alt="">
					</div>

					<div class="alinkDiv">
							<a href="http://tp5.com/public/index.php/index/cont/index">ご連絡先</a>
					</div>
					<div class="alinkDiv" style="width: 50px;height: 60px"></div>
					<div class="alinkDiv">
							<a href="http://tp5.com/public/index.php/index/show/index#">製 品</a>
					</div>
				</div>
			</div>
	</div>

	<div class="containDiv">

		<div style="font-size:0">
			<img class="img" src="__PUBLIC__/img/firstDivBg.png" class="zoomIn wow animated" alt="">
			
					<div class="btDiv">
							<a href="http://www.baidu.com">
							<img id="img_01" class="img" src="__PUBLIC__/img/down.png" class="zoomIn wow animated" alt="" onmousemove="toGreen()" onmouseout="resize()">
						</a>
						</div>
			
		</div>

		<div  style="font-size:1">
				<img class="img" src="__PUBLIC__/img/secDiv.jpg" class="zoomIn wow animated" alt="">
		</div>

		<div  style="font-size:1">
				<img class="img" src="__PUBLIC__/img/thiDiv.png" class="zoomIn wow animated" alt="">
		</div>

		<div  style="font-size:1">
				<img class="img" src="__PUBLIC__/img/fouDiv.png" class="zoomIn wow animated" alt="">
		</div>

		<div style="font-size:1">
				<img class="img" src="__PUBLIC__/img/footDiv.png" class="zoomIn wow animated" alt="">
				
			</div>
	</div>

	
</body>
</html>
